<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendMail.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<connectionStrings><add name="DBSENDMAİLEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T0LHJK\NTS;initial catalog=DBSENDMAİL;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><userSettings>
        <SendMail.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRemember" serializeAs="String">
                <value>False</value>
            </setting>
        </SendMail.Properties.Settings>
    </userSettings>
</configuration>